{:paths ["src" "test"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        org.clojure/clojurescript {:mvn/version "1.12.134"}
        thheller/shadow-cljs {:mvn/version "3.4.4"}
        funcool/promesa {:mvn/version "11.0.678"}
        io.github.pez/baldr {:mvn/version "1.0.9"}}
 :aliases {:shadow-cljs {:main-opts ["-m" "shadow.cljs.devtools.cli"]}}}
